@font-face {
  font-family: "pixel";
  src: url(/pixellari/Pixellari.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary: #011e37;
}
body {
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #011e37df;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  z-index: 1000;
  top: 0;
  padding: 10px 5%;
}
#check {
  display: none;
}
.logo-icon {
  width: 10%;
}
.icons {
  display: none;
  right: 0;
}
#check:checked ~ .navbar {
  height: auto;
}
.navbar {
  position: static;
  height: auto;
  width: auto;
  list-style: none;
  display: flex;
  height: 63px;
  align-items: center;
}
.navbar > a {
  color: #f9fafb;
  text-decoration: none;
  transform: rotateY(0);
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}
.navbar > a:hover {
  color: gold;
}
/* Content */
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #011e37;
  color: #f9fafb;
}
.word {
  width: max-content;
  background: radial-gradient(circle, #4ecdc4, #4ecdc56e, transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: space-around;
  padding: 2em;
}

article > p {
  background: #f9fafb;
  padding: 0.5em;
  color: #011e37;
  font-weight: bold;
  border-radius: 1em;
  justify-content: center;
  width: 50%;
  align-items: center;
}

article > img {
  border-radius: 0.5em;
  align-items: center;
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
footer {
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding: 1em 0 0 0;
  justify-content: space-between;
}
footer > .emmet {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}
.emmet > iframe {
  width: 25%;
  /* height: 200%; */
}
footer > .emmet > .left {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
footer > .emmet > .left > h1 {
  color: white;
  margin-left: 0.5em;
}
footer > .emmet > .left > ul {
  display: flex;
  gap: 1em;
  flex-direction: column;
  list-style: none;
  color: white;
  justify-content: center;
  margin-left: 1em;
  align-items: flex-start;
}
footer > p {
  text-align: center;
  font-weight: bold;
  background: #011e37;
  padding: 1em;
  color: white;
  position: static;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  main{
    height: max-content;
  }
  header {
    padding: 1em;
  }
  .logo-icon {
    width: 40%;
  }
  .icons {
    display: inline-flex;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
  }
  .icons #close {
    display: none;
  }
  #check:checked ~ .icons #menu {
    display: none;
  }
  #check:checked ~ .icons #close {
    display: block;
  }
  .navbar {
    position: absolute;
    flex-direction: column;
    top: 100%;
    left: 0;
    height: 0;
    width: 100%;
    transition: 0.3s ease;
    background-color: #4713963d;
    backdrop-filter: blur(100px);
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.548);
  }
  #check:checked ~ .navbar {
    height: 17.7rem;
  }
  .navbar > a {
    display: inline;
    font-size: 1.1rem;
    margin: 0.5em;
    width: 100%;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3 ease;
    opacity: 0;
  }
  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  main > article {
    flex-direction: column;
    gap: 1em;
  }
  main > article > img {
    width: 50%;
  }
  main > article > p {
    width: 100%;
  }
  footer {
    width: 100%;
    bottom: 0;
    height: 100%;
  }
  footer > .emmet > .left {
    align-items: center;
    text-align: center;
  }
  footer > .emmet > .left > h1{
    text-align: center;
  }
  footer > .emmet > .left > ul{
    text-align: center;
    align-items: inherit;
  }
  footer > p {
    position: static;
  }
  footer > .emmet {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  footer > .emmet > iframe {
    width: 80%;
    height: 300px;
  }
}
